{% extends 'list.html' %} {% load static %} {% block head_list %}
<script src="{% static 'client2/js/list.js' %}"></script>
{% endblock %} {% block columns %}
<tr>
    <th scope="col" style="width: 5%;">Nro</th>
    <th scope="col" style="width: 15%;">Nombre</th>
    <th scope="col" style="width: 15%;">NIT</th>
    <th scope="col" style="width: 5%;">Pais</th>
    <th scope="col" style="width: 10%;">Direccion</th>
    <th scope="col" style="width: 10%;">Telefono</th>
    <th scope="col" style="width: 10%;">WSP</th>
    <th scope="col" style="width: 10%;">Correo</th>
    <th scope="col" style="width: 10%;">Logo</th>
    <th scope="col" style="width: 10%;">Opciones</th>
</tr>
{% endblock %} {% block javascript %} {% endblock %}